img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin-top: -80px;
  border: 5px solid rgb(44, 44, 44);
}

h1 {
  color: rgb(31, 25, 25);
  font-size: 30px;
}

#todays-challenge {
  color: rgb(75, 59, 59);
  font-weight: bold;
  font-size: 52px;
}

a {
  color: rgb(73, 29, 50);
}
main {
  border: 5px solid rgb(44, 44, 44);
  box-shadow: 1px 2px 8px rgb(0, 0, 0, 0.3);
  border-radius: 8px;
  width: 800px;
  background-color: #e16b51;
  margin: 200px auto 72px auto;
  padding: 24px;
}
span {
  color: rgb(66, 2, 2);
}
